@page
@model AfriERP.Pages.EmployeesModel
@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>

<table class="erp-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Position</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Jane Mwangi</td>
            <td>HR Manager</td>
            <td>Human Resources</td>
        </tr>
        <tr>
            <td>002</td>
            <td>Kevin Otieno</td>
            <td>Accountant</td>
            <td>Finance</td>
        </tr>
        <tr>
            <td>003</td>
            <td>Faith Wambui</td>
            <td>Inventory Officer</td>
            <td>Warehouse</td>
        </tr>
    </tbody>
</table>
