@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero">
    <h1>Welcome to AfriERP</h1>
    <p>Manage your enterprise with ease — all in one platform.</p>
</div>

<section class="erp-highlight">
    <div class="erp-left">
        <p class="erp-sub">The cloud ERP software</p>
        <h1>
            <span>DIGITIZE</span><br />
            <span>YOUR</span><br />
            <span>BUSINESS</span>
        </h1>
        <p class="erp-desc">
            Simplify your operations. From accounting to inventory and CRM — all in one powerful tool.
        </p>
        <div class="erp-buttons">
            <a href="#" class="erp-btn primary">Try it free</a>
            <a href="#" class="erp-btn secondary">Book a demo</a>
        </div>
    </div>
    <div class="erp-right">
    <img src="~/images/home.png" alt="student" />
    </div>
</section>




